*,
*::after,
*::before{
  box-sizing: border-box;
}

html{
  color:black;
  font-family: sans-serif;
  background-color: rgb(231, 231, 231);
}

header{
  text-align: center;
}

.column-wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.row-wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.row-nowrap{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  
}

h1{
  font-size: 30px;
  text-align: center;
  color: #ff6122;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
}

#play {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 400px;
  font-weight: bold;
  margin-bottom: 5px;
}

#play:hover {
  background-color: #45a049;
}

.contenedor{
  align-items: center;
}

.estado{
  width: 400px;

}

.estado div{
  border-radius: 5px;
  width: 200px;
  background-color: #ff6122;
  text-align: center;
}


.primary{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  width: 400px;
  height: 400px;
  background-color: rgb(48, 46, 46);
  border-radius: 15px;
}

.primary div{
  width: 100%;
  border-radius: 15px;
  border: 4px solid rgb(48, 46, 46);
  cursor: pointer;
}

.secondary{
  width: 100%;
  height: 200px;
}

#red{
  background-color: rgb(100, 0, 0);
  
}

#yellow{
  background-color: rgb(204, 204, 0);
}

#green{
  background-color: rgb(0, 80, 0);
}

#blue{
  background-color: rgb(0, 0, 100);
}