
.ranking{
  padding: 25px;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  background-color:rgb(48, 46, 46);

}

.ranking h2{
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
  margin-block-start: 0;
  margin-block-end: 2px;
}


#my-table{
  width: 100%;
}

#my-table thead{
  background-color: rgb(238, 107, 16);
  width: 100%;
}

#my-table tbody{
  color:rgb(73, 238, 16)
}


.my-table th {
  text-align: center;
  width: auto;
}

.volver{
  font-size: 15px;
  padding-left: 20px;
  justify-content: flex-start;
}
