label{
  color: greenyellow;
}

.sec-form{
  display: flex;
  width: 100%;
  padding: 10px;
  align-content: center;
  text-align: center;
}

.sec-form h2{
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
  margin-block-start: 0;
  margin-block-end: 2px;
}

.form{
  width: 100%;
  justify-content:center;
}

.userData{
  padding: 10px;
  width: 40%;
}

.userData input{
  width: 100%;
}

.message{
  width: 80%;
  padding: 10px;
}

textarea{
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 2px solid #ff6122;
}

.send{
  padding: 10px;
  justify-content: center;
  width: 100%;
}

button{
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff6122;
  color: white;
  width: 50%;
  height: auto;
}



@media screen and (max-width: 700px) {

  .userData{

    min-width: 380px;

  }

  .message{
    width:380px;

  }

  .send{

  }

  }